<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Tutor_OACO</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginControlador</display-name>
    <servlet-name>LoginControlador</servlet-name>
    <servlet-class>mx.ulsa.controlador.LoginControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControlador</servlet-name>
    <url-pattern>/LoginControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioControlador</display-name>
    <servlet-name>UsuarioControlador</servlet-name>
    <servlet-class>mx.ulsa.controlador.UsuarioControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioControlador</servlet-name>
    <url-pattern>/Usuario/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EjeCookiesServlet</display-name>
    <servlet-name>EjeCookiesServlet</servlet-name>
    <servlet-class>mx.ulsa.controlador.EjeCookiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EjeCookiesServlet</servlet-name>
    <url-pattern>/EjeCookiesServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormularioDeRegistroServlet</display-name>
    <servlet-name>FormularioDeRegistroServlet</servlet-name>
    <servlet-class>mx.ulsa.controlador.FormularioDeRegistroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormularioDeRegistroServlet</servlet-name>
    <url-pattern>/FormularioDeRegistroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistroServlet</display-name>
    <servlet-name>RegistroServlet</servlet-name>
    <servlet-class>mx.ulsa.controlador.RegistroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroServlet</servlet-name>
    <url-pattern>/RegistroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonaControlador</display-name>
    <servlet-name>PersonaControlador</servlet-name>
    <servlet-class>mx.ulsa.controlador.PersonaControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonaControlador</servlet-name>
    <url-pattern>/Persona/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RolControlador</display-name>
    <servlet-name>RolControlador</servlet-name>
    <servlet-class>mx.ulsa.controlador.RolControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RolControlador</servlet-name>
    <url-pattern>/Rol/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductoControlador</display-name>
    <servlet-name>ProductoControlador</servlet-name>
    <servlet-class>mx.ulsa.controlador.ProductoControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductoControlador</servlet-name>
    <url-pattern>/Producto/*</url-pattern>
  </servlet-mapping>
</web-app>